extends layout

block content
  h1= title
  p Welcome to #[em ShortStorey], a webpage for me to collect and display various pieces of personal data. See a summary of this data below.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The server has the following record counts:

    ul
      li #[strong Authors:] !{data.author_count}
      li #[strong Books:] !{data.book_count}
      li #[strong Nights Out:]
      li #[strong Films:]
      li #[strong Weight:]
      li #[strong Cube Times:]
      
  h1 Roadmap </h1>
    p The following is a high level summary of what I intend to add to this site. 

    ul
      li CRUD for Nights out, films watched, books read, body weight and rubiks cube times. 
      li Tabular list of each dataset.
      li Create records in browser
      li Update and Delete in browser
      li Relational Event tables
      li URLs for individual records with additional detail 
      li Visualisations (d3)
      li Custom query builder.