extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='date') Date:
      input#date.form-control(type='date', name='date' value=(undefined=== weight ? '' : weight.date) )
    div.form-group
      label(for='weight') Weight:
      input#weight.form-control(type='number', name='weight' value=(undefined===weight ? '' : weight.weight) )
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg